// Blockquote
// ––––––––––––––––––––––––––––––––––––––––––––––––––
blockquote {
	border-left: 2px solid @grey-100;
	color: @grey-700;
	font-style: italic;
	margin: auto 0;
	padding: 10px 16px;
	*:last-child {
		margin-bottom: 0;
	}
}