// Button
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	background-color: @amber-300;
	border: 1px solid @amber-300;
	border-radius: @border-radius;
	color: @grey-900;
	cursor: pointer;
	display: inline-block;
	font-family: inherit;
	font-size: 1.4rem;
	font-weight: 700;
	padding: 12px 26px;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	margin: 1rem;
	&:focus,
	&:hover {
		background-color: @amber-100;
		border-color: @amber-100;
		color: @grey-800;
		outline: 0;
		cursor: pointer;
		text-decoration: none;
	}
	&:active {
		-webkit-transform: scale(.97);
		transform: scale(.97);
	}
	&[disabled] {
		cursor: not-allowed;
		background: @grey-100;
		border-color: @grey-100;
		color: @grey-700;
		&:focus,
		&:hover {}
	}
	&.ghost {
		background-color: transparent;
		color: @grey-900;
		border-color: @grey-300;
		&:focus,
		&:hover {
			background-color: @amber-300;
			border-color: @amber-300;
			color: @grey-900;
		}
		&[disabled] {
			&:focus,
			&:hover {
				border-color: inherit;
				cursor: not-allowed;
				color: @grey-300;
			}
		}
	}
}