// Button
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	background-color: @amber-300;
	border: 1px solid @amber-300;
	border-radius: @border-radius;
	color: @grey-900;
	cursor: pointer;
	display: inline-block;
	font-family: inherit;
	font-size: 1.4rem;
	font-weight: 700;
	padding: 12px 26px;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	margin: 1rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: @transition;
	transition: @transition;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	&:focus,
	&:hover {
		background-color: @amber-100;
		border-color: @amber-100;
		color: @grey-800;
		outline: 0;
		cursor: pointer;
		text-decoration: none;
	}
	&:active {
		-webkit-transform: scale(.97);
		transform: scale(.97);
	}
	&[disabled] {
		cursor: not-allowed;
		background: @grey-100;
		border-color: @grey-100;
		color: @grey-700;
		&:focus,
		&:hover {}
	}
	&.loading {
		background: @amber-300 url("data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2260%22%20height%3D%2260%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20100%20100%22%20preserveAspectRatio%3D%22xMidYMid%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20fill%3D%22none%22%20ng-attr-stroke%3D%22%7B%7Bconfig.color%7D%7D%22%20ng-attr-stroke-width%3D%22%7B%7Bconfig.width%7D%7D%22%20ng-attr-r%3D%22%7B%7Bconfig.radius%7D%7D%22%20ng-attr-stroke-dasharray%3D%22%7B%7Bconfig.dasharray%7D%7D%22%20stroke%3D%22%23444%22%20stroke-width%3D%225%22%20r%3D%2220%22%20stroke-dasharray%3D%2294%2050%22%20transform%3D%22rotate(54%2050%2050)%22%3E%3CanimateTransform%20attributeName%3D%22transform%22%20type%3D%22rotate%22%20calcMode%3D%22linear%22%20values%3D%220%2050%2050%3B360%2050%2050%22%20keyTimes%3D%220%3B1%22%20dur%3D%22600ms%22%20begin%3D%220s%22%20repeatCount%3D%22indefinite%22%3E%3C%2FanimateTransform%3E%3C%2Fcircle%3E%3C%2Fsvg%3E") no-repeat center/4rem;
		color: transparent !important;
		pointer-events: none;
		&:hover {
			border-color: @amber-300 !important;
			color: transparent !important;
			cursor: default;
		}
	}
	&.ghost {
		background-color: transparent;
		color: @grey-900;
		border-color: @grey-300;
		&:focus,
		&:hover {
			background-color: @amber-300;
			border-color: @amber-300;
			color: @grey-900;
		}
		&[disabled] {
			&:focus,
			&:hover {
				border-color: inherit;
				cursor: not-allowed;
				color: @grey-300;
			}
		}
		&.loading {
			background: @white url("data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2260%22%20height%3D%2260%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20100%20100%22%20preserveAspectRatio%3D%22xMidYMid%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20fill%3D%22none%22%20ng-attr-stroke%3D%22%7B%7Bconfig.color%7D%7D%22%20ng-attr-stroke-width%3D%22%7B%7Bconfig.width%7D%7D%22%20ng-attr-r%3D%22%7B%7Bconfig.radius%7D%7D%22%20ng-attr-stroke-dasharray%3D%22%7B%7Bconfig.dasharray%7D%7D%22%20stroke%3D%22%23FB0%22%20stroke-width%3D%225%22%20r%3D%2220%22%20stroke-dasharray%3D%2294%2050%22%20transform%3D%22rotate(54%2050%2050)%22%3E%3CanimateTransform%20attributeName%3D%22transform%22%20type%3D%22rotate%22%20calcMode%3D%22linear%22%20values%3D%220%2050%2050%3B360%2050%2050%22%20keyTimes%3D%220%3B1%22%20dur%3D%22600ms%22%20begin%3D%220s%22%20repeatCount%3D%22indefinite%22%3E%3C%2FanimateTransform%3E%3C%2Fcircle%3E%3C%2Fsvg%3E") no-repeat center/4rem;
			color: transparent !important;
			pointer-events: none;
			&:hover {
				border-color: @grey-300 !important;
				color: transparent !important;
				cursor: default;
			}
		}
	}
}