// Amber
// ––––––––––––––––––––––––––––––––––––––––––––––––––
@amber-100: #FD6;
@amber-200: #FB0;
@amber-300: #F90;
@amber: #F70;

// Red
// ––––––––––––––––––––––––––––––––––––––––––––––––––
@red-100: #FCD;
@red-200: #E77;
@red-300: #F43;
@red: #D22;

// Green
// ––––––––––––––––––––––––––––––––––––––––––––––––––
@green-100: #DEC;
@green-200: #AD8;
@green-300: #8C4;
@green: #693;

// Blue
// ––––––––––––––––––––––––––––––––––––––––––––––––––
@blue-100: #BDF;
@blue-200: #6BF;
@blue-300: #29F;
@blue: #17D;

// Grey
// ––––––––––––––––––––––––––––––––––––––––––––––––––
@grey-50: #F5F5F5;
@grey-100: #DDD;
@grey-200: #BBB;
@grey-300: #999;
@grey: #666;

// Black & White
// ––––––––––––––––––––––––––––––––––––––––––––––––––
@black: #000;
@white: #FFF;