// Amber
// ––––––––––––––––––––––––––––––––––––––––––––––––––
@amber-50: #FE9;
@amber-100: #FD6;
@amber-200: #FC3;
@amber-300: #FB0;
@amber-400: #FA0;
@amber-500: #F90;
@amber-600: #F80;
@amber-700: #F70;
@amber-800: #F60;
@amber-900: #F50;
@amber: @amber-500;

// Red
// ––––––––––––––––––––––––––––––––––––––––––––––––––
@red-50: #FEE;
@red-100: #FCD;
@red-200: #E99;
@red-300: #E77;
@red-400: #E55;
@red-500: #F43;
@red-600: #E33;
@red-700: #D22;
@red-800: #C22;
@red-900: #B11;
@red: @red-500;

// Green
// ––––––––––––––––––––––––––––––––––––––––––––––––––
@green-100: #DEC;
@green-200: #AD8;
@green-300: #8C4;
@green: #693;

// Blue
// ––––––––––––––––––––––––––––––––––––––––––––––––––
@blue-100: #BDF;
@blue-200: #6BF;
@blue-300: #29F;
@blue: #17D;

// Grey
// ––––––––––––––––––––––––––––––––––––––––––––––––––
@grey-50: #F5F5F5;
@grey-100: #DDD;
@grey-200: #BBB;
@grey-300: #999;
@grey: #666;

// Black & White
// ––––––––––––––––––––––––––––––––––––––––––––––––––
@black: #000;
@white: #FFF;