// Form
// ––––––––––––––––––––––––––––––––––––––––––––––––––
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="date"],
textarea,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	border: 1px solid @grey-300;
	border-radius: @radius;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
	padding: 12px;
	width: 100%;
	height: 44px;
	font-family: inherit;
	font-size: 1.4rem;
	color: @grey-900;
	text-overflow: ellipsis;
	-webkit-transition: @transition;
	transition: @transition;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		display: none;
	}
	&:focus {
		border-color: @amber-400;
		-webkit-box-shadow: 0 0 0 2px @amber-light;
		box-shadow: 0 0 0 2px @amber-light;
		outline: 0;
	}
	&:disabled {
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		background: @grey-50;
		border-color: @grey-50;
		cursor: not-allowed;
		opacity: .6;
	}
}

input[type="date"] {
	&::-ms-clear {
		display: none;
	}
	&::-webkit-clear-button {
		-webkit-appearance: none;
	}
}

input[type="checkbox"],
input[type="radio"] {
	font-family: inherit;
	display: inline;
	&:disabled {
		color: @grey-500;
		border-style: dotted;
		cursor: not-allowed;
	}
}

select {
	background: @white url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%204%205'%3E%3Cpath%20fill%3D'%23999'%20d%3D'M2%200L0%202h4zm0%205L0%203h4z'%2F%3E%3C%2Fsvg%3E") no-repeat right 4px center/24px 10px;
	padding-right: 34px;
}

fieldset {
	border-width: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	resize: none;
	height: auto;
}

label,
legend {
	display: inline-block;
	font-size: 1.3rem;
	font-weight: 500;
	margin-bottom: 4px;
	color: @grey-900;
}

.label-inline {
	display: inline-block;
	font-weight: normal;
	margin-left: 4px;
}

legend {
	font-size: 1.8rem;
	font-weight: 800;
	padding: 0;
}

:-ms-input-placeholder {
	color: @grey-300;
}

:-moz-placeholder {
	color: @grey-300;
}

::-webkit-input-placeholder {
	color: @grey-300;
}