// Link
// ––––––––––––––––––––––––––––––––––––––––––––––––––
a:not([button]):not([.button]) {
	color: @blue-A700;
	cursor: pointer;
	text-decoration: none;
	-webkit-transition: @transition;
	transition: @transition;
	-webkit-tap-highlight-color: transparent;
	&:hover,
	&:focus {
		color: @red-600;
		text-decoration: underline;
		-webkit-text-decoration-skip: ink;
		text-decoration-skip: ink;
	}
	&:focus {
		outline: 1px dotted @black;
	}
}