// Media
// ––––––––––––––––––––––––––––––––––––––––––––––––––
img {
	max-width: 100%;
	border-style: none;
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
	outline: none;
}

audio,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

svg:not(:root) {
	overflow: hidden;
}