// Spacing
// ––––––––––––––––––––––––––––––––––––––––––––––––––
dd,
dt,
li {
	margin-bottom: 10px;
}

.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	margin-left: 4px;
	margin-right: 4px;
	&:first-child {
		margin-left: 0;
	}
	&:last-child {
		margin-right: 0;
	}
}

fieldset,
input,
select,
textarea,
blockquote,
dl,
figure,
form,
ol,
p,
pre,
table,
ul {
	margin-bottom: 16px;
}

// Prevent flickering
a,
button,
input [type],
textarea,
select,
video,
img {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	transform: translate(0);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

// Prevent text-selection
.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.input-addon {
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}