// Padding & Margin
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.nopadding {
	padding: 0;
}

.nomargin {
	margin: 0;
}

// Height & Width
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.fullwidth {
	width: 100%;
}

.fullheight {
	height: 100%;
}

// Transform Case
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.uppercase {
	text-transform: uppercase;
}

.lowercase {
	text-transform: lowercase;
}

.capitalize {
	text-transform: capitalize;
}

// Font Weights
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.fw-300 {
	font-weight: 300;
}

.fw-400 {
	font-weight: 400;
}

.fw-500 {
	font-weight: 500;
}

.fw-600 {
	font-weight: 600;
}

.fw-700 {
	font-weight: 700;
}

.fw-800 {
	font-weight: 800;
}

.fw-900 {
	font-weight: 900;
}

// Material Design Icons
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.material-icons {
	padding: 0 4px;
	vertical-align: middle;
}

// Alignment
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.align {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	height: 100%;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

// Positions
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.fixed-top {
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
}

.fixed-bottom {
	position: fixed;
	bottom: 0;
	z-index: 1;
	width: 100%;
}

// Colours
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.bgwhite {
	background: @white;
	background-color: @white;
}

.bggrey {
	background: @grey-50;
	background-color: @grey-50;
}

.danger {
	background: @red-500;
	background-color: @red-500;
}

.warning {
	background: @amber-400;
	background-color: @amber-400;
}

.info {
	background: @blue-500;
	background-color: @blue-500;
}

.success {
	background: @green-500;
	background-color: @green-500;
}