// Imports
// ––––––––––––––––––––––––––––––––––––––––––––––––––
@import "_Colour";
@import "_Typography";

// Print Styles
// ––––––––––––––––––––––––––––––––––––––––––––––––––
@media print {
	* {
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}
	body {
		color: @black;
		font-family: @font-family-serif;
		font-size: 12pt;
		line-height: 1.4;
	}
	nav {
		display: none !important;
	}
	footer {
		border: 0 !important;
	}
	a {
		color: @blue-500;
		text-decoration: underline;
		text-decoration-skip: ink;
	}
	a[href]:after {
		content: "\00A0('attr(href)')";
		word-break: break-all;
	}
	a[href="#"],
	a[href="javascript:"] {
		content: "" !important;
	}
}