// Global variables
// ––––––––––––––––––––––––––––––––––––––––––––––––––
@radius: 2px;
@transition: all 80ms ease-in-out;

// Padding & Margin
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.nopadding {
	padding: 0;
}

.nomargin {
	margin: 0;
}

// Height & Width
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.fullwidth {
	width: 100%;
}

.fullheight {
	height: 100%;
}

// Text Transform
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.uppercase {
	text-transform: uppercase;
}

.lowercase {
	text-transform: lowercase;
}

.capitalize {
	text-transform: capitalize;
}

// Font Weights
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.fw1 {
	font-weight: 100;
}

.fw2 {
	font-weight: 200;
}

.fw3 {
	font-weight: 300;
}

.fw4 {
	font-weight: 400;
}

.fw5 {
	font-weight: 500;
}

.fw6 {
	font-weight: 600;
}

.fw7 {
	font-weight: 700;
}

.fw8 {
	font-weight: 800;
}

.fw9 {
	font-weight: 900;
}

// Font Sizes
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.fs25 {
	font-size: 25%;
}

.fs50 {
	font-size: 50%;
}

.fs75 {
	font-size: 75%;
}

.fs100 {
	font-size: 100%;
}

.fs125 {
	font-size: 125%;
}

.fs150 {
	font-size: 150%;
}

.fs175 {
	font-size: 175%;
}

.fs200 {
	font-size: 200%;
}

// Material Design Icons
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.material-icons {
	padding: 0 4px;
	vertical-align: middle;
}

.material-icons.md-18 {
	font-size: 1.8rem;
}

.material-icons.md-24 {
	font-size: 2.4rem;
}

.material-icons.md-36 {
	font-size: 3.6rem;
}

.material-icons.md-48 {
	font-size: 4.8rem;
}

.material-icons.md-dark {
	color: rgba(0, 0, 0, 0.5);
}

.material-icons.md-dark.md-inactive {
	color: rgba(0, 0, 0, 0.25);
}

.material-icons.md-light {
	color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
	color: rgba(255, 255, 255, 0.25);
}

// Alignment
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.align {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	height: 100%;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
	margin: auto;
}

// Positions
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.fixed-top {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.fixed-bottom {
	bottom: 0;
	position: fixed;
	width: 100%;
	z-index: 1;
}

// Hide & Show
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.hidden {
	display: none;
}

@media only screen and (max-width: 1200px),
only screen and (max-width: 992px) {
	.hidden-desktop {
		display: none;
	}
}

@media only screen and (max-width: 768px) {
	.hidden-tablet {
		display: none;
	}
}

@media only screen and (max-width: 480px) {
	.hidden-mobile {
		display: none;
	}
}

// Colours
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.bgwhite {
	background: @white;
	background-color: @white;
}

.bggrey {
	background: @grey-50;
	background-color: @grey-50;
}

.danger {
	background: @red-500;
	background-color: @red-500;
}

.warning {
	background: @amber-400;
	background-color: @amber-400;
}

.info {
	background: @blue-500;
	background-color: @blue-500;
}

.success {
	background: @green-500;
	background-color: @green-500;
}

// Selection
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.noselect {
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

// Clearfix
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.clearfix {
	&:after {
		clear: both;
		content: ' ';
		display: table;
	}
}

// Float
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.float-left {
	float: left;
}

.float-right {
	float: right;
}

// Text Selection
// ––––––––––––––––––––––––––––––––––––––––––––––––––
::-moz-focus-inner {
	border: 0;
	padding: 0;
}

::-moz-selection {
	background: @amber-50;
}

::selection {
	background: @amber-50;
}